/wp-config.php
/wp-content/uploads/2018/.DS_Store
/wp-content/uploads/.DS_Store
/wp-content/themes/.DS_Store
/wp-content/plugins/.DS_Store
/wp-content/.DS_Store
/wp-content/uploads
/wp-content/upgrade
/wp-content/plugins
