@import 'theme-colors';

@font-face {
  font-family: 'basis-grotesque-regular';
    src: url('../fonts/basis-grotesque-regular.eot');
    src: url('../fonts/basis-grotesque-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basis-grotesque-regular.woff') format('woff'),
         url('../fonts/basis-grotesque-regular.woff2') format('woff2'),
         url('../fonts/basis-grotesque-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'basis-grotesque-italic';
  src: url('../fonts/basis-grotesque-italic.eot');
  src: url('../fonts/basis-grotesque-italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/basis-grotesque-italic.woff') format('woff'),
       url('../fonts/basis-grotesque-italic.woff2') format('woff2'),
       url('../fonts/basis-grotesque-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$theme-font: 'basis-grotesque-regular', georgia, verdana, sans-serif;

body {
  font-family: $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
      color: $themeColor-Dark
  }
}